img.image{
    
    border-radius: 50%;
    height: 220px;
    width: 220px;
    
    
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.menu {
    background-color:#ffffff;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px  solid  rgba(128, 128, 128, 0.336);
    border-top: 3px solid  purple;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 8px;
    display: flex;
}

.menu a {
    float: center;
    color: #585858;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 20px;
    
}


.menu a:hover {
    background-color: white;
    color: purple;
}
  

.menu a.active {
    background-color: white;
    color: purple;
    text-emphasis-color: purple;
    
}

#about {
    color: purple !important;
    
}
#skills {
    color: purple !important;
    
}
#education {
    color: purple !important;
    
}
#experience {
    color: purple !important;
    
}
#interests {
    color: purple !important;
    
}
  
.left {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px  solid  rgba(128, 128, 128, 0.363);
    padding-right: 20px;
    text-align: center;
    align-items: center;
    width: 30%;
}

.right {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex-grow: 1;

}   
.page {
    justify-content: center;
    display: flex;
}

table {
    display:block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px  solid  rgba(128, 128, 128, 0.363);
    
    text-align: center;
}

.footer a {
    float: center;
    text-align: center;
}
#progressbar {
    display: flex;
    flex-grow: 1;
}
progress {
    display: flex;
    flex-grow: 2;     
    padding: 20px;
    margin-right: 15%;
    flex-direction: column;
}
#credentials {
    display: flex;
    padding-top: 100px;
    color: #585858;
}
h3 {
    margin-bottom: 2px !important;
}

#rightalign {
    justify-content: right;
    align-items: right;
    text-align: right;
    padding-left: 200px;
}

 @media screen and (max-width: 900px) {
    .page {
        
        justify-content: center;
        
        flex-direction: column;
    }
}

.interest {
    padding-bottom: 20px;
}

#items {
    padding-bottom: 10px;
}
